<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>About</h1>
<p>The U.S. Department of Energy’s (DOE’s) Cleantech University Prize (CUP) inspires the next generation of clean energy entrepreneurs and innovators by providing them with competitive funding for business development and commercialization training and other educational opportunities.</p>

<p>CUP builds on its precursor, the DOE National Clean Energy Business Plan Competition, which expanded student engagement in clean energy technologies from 2011 to 2014 and attracted more than 1,000 teams, resulting in more than 70 ventures, 120 jobs, and $60 million in follow-on funding.</p>

<h1 style="margin-top: 30px;">COLLEGIATE COMPETITIONS</h1>
<p>Eight institutions host annual CUP Collegiate Competitions and award cash prizes. The Collegiate Competitions establish team development and training that will aid students in developing the skills to move clean energy technologies from the discovery phase to the marketplace. Winners of the Collegiate Competitions will be eligible to compete in the CUP National Competition run by the Hub.</p>

<p>The institutions selected to host the Collegiate Competitions are:</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
<li>California Institute of Technology</li>
<li>Carnegie Mellon University</li>
<li>Clean Energy Trust</li>
<li>Massachusetts Institute of Technology</li>
<li>Rice University</li>
<li>Rutgers, The State University of New Jersey</li>	
<li>University of California-Berkeley</li>	
<li>University of Central Florida. </li>	
</ul>

<h1>HUB</h1>

<p>A national-level center for training students about clean energy entrepreneurship, the CUP Hub will coordinate and provide specific training for a national competition for student startups. Spark Clean Energy, a national nonprofit focused on engaging student in clean energy, runs the Hub. In addition to providing competition-related instruction and guidance to students (including this online course), the Hub serves as a learning laboratory and coordination point for the collegiate community to share best practices.</p>

<p>The Hub runs the National Competition, which is the culmination of the Collegiate Competitions, awarding a $100,000 national prize and providing trainings for competing teams in partnership with VentureWell.</p>

</section>

